<div class="fondoblanco">
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-middle">
              <div class="text-center text-center">
                  <h1 class="error-number"><i class="fa fa-exclamation-triangle" style="font-size:80px;color:#FFBE00;"></i>401</h1>
                  <h1>Autorización requerida</h1>
                  <p>Por favor cerrar sesion y volver a autenticarse.</p>
              </div>
          </div>
      </div>
  </div>
</div>