.headerCard {
    margin: 5px;
    font-weight: bold;
}

.marginRadio {
    margin-right: 5px;
}

.bar-loader {
    height: 4px;
    width: 100%;
    overflow: hidden;
    background-color: #ddd;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px 10px 0 0;
}

.bar-loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loadingBar 2s linear infinite;
}

@keyframes loadingBar {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}